{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil Candidat
{% endblock %}

{% block content %}
    <h2>Liste des tests disponibles </h2>
    
    <div class="container">
        <div class="jumbotron">
            <div class="panel-group"> 
            {% for i in inscriptions %}
                <div class="panel panel-primary"> 
                    <div class="panel-heading"> 
                        <h3><a href="{{ url('confirmtest_route',{'id': i.getTest().getId()})}}">{{i.getTest().getLibelle()}}</a></h3>
                        <div>Durée {{i.getTest().getDuree()}} minutes</div>
                    </div>
                    <div class="panel-body">{{i.getTest().getDescription()}}</div>
                    
                </div>
                <br>
            {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}